
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LaserFlask</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
<h1>Hello, World!</h1>

<a href="https://www.google.com" >
    <img src="{% static 'abricate-banner-w--color-v2.png' %}" alt="Abricate">
</a>

{% for product in products %}
<div>
    <h2>{{product.name}}</h2>
    <p>{{product.desc}}</p>
    <p><strong>{{product.cost}}</strong></p>
</div>
{% endfor %}

</body>
</html>